:root {
    --verde: #2BD83C;
    --verde-musgo-claro: #285943;
    --verde-musgo-escuro: #002400;
    --verde-claro: #86E990;
    --verde-limao: #A1FF7E;
    --cor-escura: #0C0C0C;
    --cor-clara: #F0F2EF;
    font-family: 'Roboto', sans-serif;
}

body {
    /*background-image: url('../../imagens/Vilhena-751x420.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; */
    background-color: #444444;
    display: flex;
    height: auto;
}

main{
    display: flex;
}

#imagem-fundo-container {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../imagens/Vilhena-751x420.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -1; /* Coloca a imagem ao fundo */
}


#imagem-fundo-desktop {
    display: none; /* Esconde a imagem original */
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

/* Para navegadores baseados em Blink (Edge) */
input[type="password"]::-ms-reveal {
    display: none;
}

#logo {
    width: 300px;
    position: relative;
    margin: 40px auto;
}

.estilo-fundo-formulario{
    background-color: #2bd83c48;
    position: relative;
    display: flex;
    border-radius: 0px 20px 20px 0px;
    width: 50vw;
    height: 100vh;
}

.estilo-tela-login {
    display: flex;
    flex-direction: column;
    position: relative;
}

#fomulario{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 65vh;
}

.titulo-e-eslogam{
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
}

.titulo-e-eslogam>h2{
    font-size: 26px;
}

.campo-imagem-logo{
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.campo-conteudo{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.decoracao-mobile{
    display: none;
    position: relative;
}

.decoracao-telas-login {
    position: absolute;
    width: 100%;
}

.decoracao {
    position: relative;
}

#logo-mobile {
    width: 150px;
    position: relative;
    display: none;
    margin: 40px auto;
}

@media screen and (max-width: 700px){
    .campo-imagem-logo{
        display: none;
    }
    .estilo-fundo-formulario{
        background-color: transparent;
        width: 89vw;
    }

    .decoracao-mobile{
        display: block;
    }

    #fomulario{
        margin: 0 auto;
        height: 85vh;
    }

    #logo-mobile{
        display: block;
    }

    .barras{
        width: 80vw;
    }
}