@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

body{
    height: 100%;
    background-color: #444444;
    background-image: url(imagens/image.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* estilo sa tela 
.caixaPai{
    /* align-items: center; 
    position: relative;
}

.retangulo{
    width: 100%;
    height: auto;
    position: relative;

    
}


.retangulo_vc{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 150px;
    right: 80px;
    
}
.retangulo_ve{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 5px;
    left:0px;

}
.logo img{
    width: 150px;
    margin-bottom: 20px;
    margin-left: 100px;
    top: 10%;
    height: auto;
    align-items: center;
}
/* body {
    background-color: #444444;
    display: flex;
    flex-direction: center;
}

.decoracao-telas-login {
    position: absolute;
}

.decoracao {
    position: relative;
}

#logo {
    width: 150px;
    position: relative;
    margin: 40px auto;
}

#imagem-fundo {
    position: absolute;
} */
/***********login*****************/
.login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 32px;
}
.user{
    position: relative;
}
.user input{
    width: 266px;
    height: 49px;
    border-radius: 20px;
    border: none;
    outline: none;
    left: 15px;
    top: 0;
    background-color: var(--cor-clara);
    font-size: 20px;
    margin-bottom: 20px;
}
.user label{
    position: absolute;
    text-align: center;
    top: 0;
    left: 15px;
    right: px;
    padding: 10px 0;
    color:hsla(0, 0%, 0%, 0.603);
    font-size: 20px;
    pointer-events: none;
    transition: .5s;
}
.user input:focus~label, .user input:valid~label{
    top: -10px;
    left: 15px;
}
.eq_senha{
    font-size: 14px;
    color: var(--cor-clara);
    display: flex;
    margin-bottom: 15px;
    text-decoration: none;
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    
}
#botao{
    background-color: var(--verde);
    padding: 9px 59px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    color: var(--cor-clara);
    box-shadow:  0px 0px 10px var(--verde);
}

#nao_ct, .nao_ct{
    font-size: 18px;
    color: var(--cor-clara);
    display: flex;
    margin-bottom: 15px;
}
