:root {
    --verde: #2BD83C;
    --verde-musgo-claro: #285943;
    --verde-musgo-escuro: #002400;
    --verde-claro: #86E990;
    --verde-limao: #A1FF7E;
    --cor-escura: #0C0C0C;
    --cor-clara: #F0F2EF;
    font-family: 'Roboto', sans-serif;
}

body {
    /*background-image: url('../../imagens/Vilhena-751x420.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; */
    background-color: #444444;
    display: flex;
}

main{
    display: flex;
}

#imagem-fundo-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../imagens/Vilhena-751x420.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#imagem-fundo-desktop {
    display: none; /* Esconde a imagem original */
}


#logo {
    width: 300px;
    position: relative;
    margin: 40px auto;
}

.estilo-fundo-formulario{
    background-color: #2bd83c48;
    position: relative;
    display: flex;
    border-radius: 0px 20px 20px 0px;
    width: 50vw;
    height: 100vh;
}

.estilo-tela-login {
    display: flex;
    flex-direction: column;
    position: relative;
}

#fomulario-cria-conta{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 65vh;
}

.campo-input{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}
input{
    background-color: var(--cor-clara);
    height: 49px;
    width: 268px;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    font-size: 14px;
    border: none;
    margin: 10px 0;
    align-items: center;
}

#fomulario-cria-conta>input::placeholder{
    font-size: large;
}

#btn-inviar{
    color: white;
    background-color: var(--verde);
    box-shadow:  0px 0px 10px var(--verde);
    width: 197px;
    font-size: large;
    margin: 0 auto;
}

.etapas-descricao{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    margin: auto;
    font-size: 20px;
}

.barras{
    display: flex;
    justify-content: space-around;
    width: 40vw;
    margin: auto;
}

.barra{
    background-color: #ffffff7a;
    width: 30%;
    border-radius: 20px;
    height: 10px;
}

.barra:first-child{
    background-color: #ffffff;
}

.titulo-e-eslogam{
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
}

.titulo-e-eslogam>h2{
    font-size: 26px;
}

.campo-imagem-logo{
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.campo-conteudo{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.decoracao-mobile{
    display: none;
    position: relative;
}

.decoracao-telas-login {
    position: absolute;
    width: 100%;
}

.decoracao {
    position: relative;
}

#logo-mobile {
    width: 150px;
    position: relative;
    display: none;
    margin: 40px auto;
}

@media screen and (max-width: 700px){
    .campo-imagem-logo{
        display: none;
    }
    .estilo-fundo-formulario{
        background-color: transparent;
        width: 89vw;
    }

    .decoracao-mobile{
        display: block;
    }

    #fomulario-cria-conta{
        margin: 0 auto;
        height: 85vh;
    }

    #logo-mobile{
        display: block;
    }

    .barras{
        width: 80vw;
    }
}